<section id="projects" class="py-5 bg-light">
  <div class="container">
        <h2 class="text-center section-title">Projekte</h2>
        <hr class="divider">
    <div>
      @for (project of projects; track project) {
          <div class="card shadow-sm mb-3">
            <div class="card-body">
              <h5>{{ project.name }} </h5>
              <div class="row">
              <span>{{project.startDate}} - {{project.endDate}}</span>
              <span><b>Description</b>: {{project.description}}</span>
              <span><b>Role</b>: {{project.role}}</span>
              <span><b>Technologies</b>: {{project.technologies}}</span>
              </div>
            </div>
          </div>
    }
    </div>
  </div>
</section>
