<section id="projects" class="py-5">
  <div class="container">
        <h2 class="text-center section-title">Projects</h2>
        <hr class="divider">
    <div>
      @for (project of projects; track project) {
          <div class="card shadow-sm mb-3">
            <div class="card-body">
              <h5>{{ project.name }}: </h5>
              <div class="row">
              <span>{{project.startDate}} - {{project.endDate}}</span>
              <span>Description: {{project.description}}</span>
              <span>Role: {{project.role}}</span>
              <span>Technologies: {{project.technologies}}</span>
              </div>
            </div>
          </div>
    }
    </div>
  </div>
</section>
