<div class="page">
  <h6>Persönliche Daten</h6>
  <ul>
    <li>Name: {{myCV.personalInfo.name}}</li>
    <li>Beruf: {{myCV.personalInfo.jobTitle}}</li>
    <li>Adresse: {{myCV.contact.city}}, {{myCV.contact.country}}</li>
    <li>Telefon: {{myCV.contact.phone}}</li>
    <li>E-Mail: {{myCV.contact.email}}</li>
  </ul>

  <h6>Technologien & Tools</h6>
  <ul>
    @for (skill of myCV.skills; track skill) {
    <li>{{skill.name}}: {{skill.content}}
    </li>
    }
  </ul>

  <h6>Berufserfahrung</h6>
  <ul>
    @for (experience of myCV.experiences; track experience) {
    <li>
      {{experience.position}} | {{experience.company}} | {{experience.location}} | {{experience.startDate}} –
      {{experience.endDate}}
      <ul>
        @for (responsibility of experience.responsibilities; track responsibility) {
        <li>{{responsibility}}</li>
        }
      </ul>
    </li>
    }
  </ul>

  <h6>Projekte (Auswahl)</h6>
  <ul>
    @for (project of myCV.projects; track project) {
    <li>
      {{project.name}}
      <ul>
        <li><b>Beschreibung</b>: {{project.description}}</li>
        <li><b>Rolle</b>: {{project.role}}</li>
        <li><b>Technologien</b>: {{project.technologies}}</li>
      </ul>
    </li>
  }
  </ul>

  <h6>Weitere Aktivitäten (Hobbys)</h6>
  <ul>
    @for (activity of myCV.activities; track activity) {
    <li>{{activity.name}}</li>
    }
  </ul>

  <h6>Online-Profile</h6>
  <ul>
    @for (onlineProfile of myCV.onlineProfiles; track onlineProfile) {
    <li>{{onlineProfile.name}}: <a [href]="onlineProfile.link" target="_blank">{{onlineProfile.link}}</a></li>
    }
  </ul>

  <h6>Sprachen</h6>
  <ul>
    @for (language of myCV.languages; track language) {
    <li>{{language.name}}: {{language.level}}</li>
    }
  </ul>

  <h6>Weiterbildungen & Schulungen</h6>
  <ul>
    @for (training of myCV.trainings; track training) {
    <li>
      {{training.name}} | {{training.institution}} | {{training.startDate}} –
      {{training.endDate}}
    </li>
    }
  </ul>

  <h6>Bildung</h6>
  <ul>
    @for (education of myCV.educations; track education) {
    <li>
      {{education.name}} ({{education.degree}}) | {{education.institution}} | {{education.startDate}} –
      {{education.endDate}}
    </li>
    }
  </ul>
</div>