<div class="page">

  <h1>Lebenslauf</h1>

  <h2>Persönliche Daten</h2>
  <ul>
    <li>Name: Fadi Suleiman</li>
    <li>Beruf: Web-Entwickler</li>
    <li>Adresse: Friedrich-Ebert-Str. 254, 47139 Duisburg</li>
    <li>Telefon: +49 1577 3594045</li>
    <li>E-Mail: fadi.suleiman.de@gmail.com</li>
  </ul>


  <h2>Technologien & Tools</h2>

  <ul>

    <li>Frontend
      <ul>
        <li>Angular</li>
        <li>React</li>
        <li>Typescript</li>
        <li>Javascript</li>
        <li>HTML5</li>
        <li>CSS, SCSS, LESS</li>
        <li>Bootstrap, Tailwind</li>
      </ul>
    </li>

    <li>Backend
      <ul>
        <li>C#</li>
        <li>ASP.NET Core</li>
        <li>Java</li>
        <li>Jakarta EE</li>
        <li>Hibernate</li>
      </ul>
    </li>

    <li>Datenbank
      <ul>
        <li>Microsoft SQL Server</li>
      </ul>
    </li>

    <li>DevOps
      <ul>
        <li>Azure DevOps</li>
        <li>Jenkins</li>
        <li>Docker</li>
      </ul>
    </li>

  </ul>



  <h2>Berufserfahrung</h2>

  <ul>

    <li>
      Web-Entwickler | Camao GmbH | 04.2021 – 05.2023

      <ul>
        <li>Entwicklung von Webanwendungen</li>
        <li>Responsive UI Entwicklung</li>
        <li>REST API Integration</li>
        <li>Unit Tests und Code Reviews</li>
      </ul>

    </li>


    <li>
      Softwarequalitätssicherung | SAB Engineering | 12.2019 – 05.2020

      <ul>
        <li>Manuelle Tests</li>
        <li>Testfälle erstellen</li>
      </ul>

    </li>



    <li>
      Web-Entwickler | iteratec GmbH | 01.2018 – 11.2019
    </li>


  </ul>



  <h2>Projekte</h2>

  <ul>

    <li>

      Portfolio Website

      <ul>

        <li>Rolle: Softwareentwickler</li>

        <li>
          Technologien:
          Angular, ASP.NET, SQL Server, Docker
        </li>

        <li>
          Link:
          https://fadisuleiman.com
        </li>

      </ul>

    </li>



    <li>

      Reisebuchungsanwendung (Lidl)

      <ul>

        <li>Technologien: Angular, ASP.NET</li>

      </ul>

    </li>



    <li>

      Projektmanagement Tool

      <ul>

        <li>Technologien: Angular, ASP.NET</li>

      </ul>

    </li>



  </ul>



  <h2>Sprachen</h2>

  <ul>

    <li>Deutsch: fließend</li>

    <li>Englisch: Grundkenntnisse</li>

  </ul>



  <h2>Bildung</h2>

  <ul>

    <li>
      Bachelor Informatik-Ingenieurwesen
      <ul>
        <li>2009 – 2014</li>
      </ul>
    </li>

    <li>
      Abitur
      <ul>
        <li>2006 – 2009</li>
      </ul>
    </li>

  </ul>


</div>