<section id="activities" class="py-5">
    <div class="container">
        <h2 class="text-center section-title">Aktivitäten</h2>
        <hr class="divider">
        <div>
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row">
                        @for (activity of activities; track activity) {
                        <span>- {{ activity.name }}</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>