<section id="languages" class="py-5">
    <div class="container">
        <h2 class="text-center section-title">Sprachen</h2>
        <hr class="divider">
        <div>
            <div class="card shadow-sm mb-3">
                <div class="card-body">
                    <div class="row">
                        @for (language of languages; track language) {
                        <span>- {{ language.name }}: {{language.level}}</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>