<section id="skills" class="py-5 bg-light">
  <div class="container">
        <h2 class="text-center section-title">Skills</h2>
        <hr class="divider">
    <div>
      @for (skill of skills; track skill) {
          <div class="card shadow-sm mb-3">
            <div class="card-body">
              <h5>{{ skill.name }}: </h5>
              <div class="row">
              @for (e of skill.content; track e) {
                <span>{{e}}</span>
              }</div>
            </div>
          </div>
    }
    </div>
  </div>
</section>